.calculator {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #347928;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.display {
  height: 50px;
  background-color: #222;
  color: #fff;
  font-size: 2em;
  text-align: right;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  padding: 20px;
  font-size: 1.5em;
  border: none;
  border-radius: 5px;
  background-color: #e0e0e0;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

button:hover {
  background-color: #d1d1d1;
}

.equal {
  background-color: #4caf50;
  color: white;
}

.equal:hover {
  background-color: #45a049;
}

button:nth-child(17) {
  grid-column: span 2;
}

button:nth-child(18),
button:nth-child(19) {
  grid-column: span 2;
}
